<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGIgOSI0J62j9KFuw4MEBfOcErYUlzqc0</string>
	<key>GCM_SENDER_ID</key>
	<string>839390457504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scanly</string>
	<key>PROJECT_ID</key>
	<string>scanly-6ac17</string>
	<key>STORAGE_BUCKET</key>
	<string>scanly-6ac17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839390457504:ios:8c9a1437a69b714bb1e3c5</string>
</dict>
</plist>